* {
  margin: 0;
  padding: 0;
}
html,body{
  margin:0;
  padding:0;
}
#header-wrapper{
  height: 100%;
  width: 100%;
  backdrop-filter: brightness(50%);
}
header{
  height: 100vh;
  background-image: url("images/laptop_coffee.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#head-menu{
  height: 60px;
  padding-right: 70px;
  background-color: rgba(128,128,128,0.5);
  }
#head-menu li{
  padding: 0 0 14px 0;
  margin: 20px 50px 0 0;
  list-style: none;
  float: right;
}
#head-menu li:hover{
  border-bottom: 1px solid white;
}
#head-menu li a{
text-decoration: none;
color: lightgray;
font-size: 1.1em;
}
#intro-text-box{
  width: 75%;
  margin: 0 auto;
  padding: 150px 0 0 0;

}
#intro-text-box h1{
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 3em;
  color: white;
}
#intro-text-box p{
  margin: 0 0 20px 0;
  padding: 0;
  font-size: 1em;
  color: white;
}
.intro-button{
  display: inline-block;
  width: 150px;
  height: 40px;
  float: left;
  margin-right: 20px;
  border-radius: 10px;
  border: 1px solid lightgray;
  background-color: rgba(220,220,220,0);
  text-align: center;
}
.intro-button:hover{
  background-color: rgba(220,220,220,0.5);
}
.intro-button a{
  text-decoration: none;
  line-height: 2;
  text-align: center;
  color: lightgray;
  font-size: 1.2em;
}
.asdasd{
  height: 100vh;
}W
