* {
  margin: 0;
  padding: 0;
}
html {
	scroll-behavior: smooth;
}
#header-wrapper{
  height: 100%;
  width: 100%;
  backdrop-filter: brightness(50%);
}
header{
  height: 100vh;
  background-image: url("images/laptop_coffee.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#head-menu{
  height: 60px;
  padding-right: 70px;
  background-color: rgba(128,128,128,0.5);
  border-bottom: lightgray 1px solid;
  }
#head-menu li{
  padding: 0 0 14px 0;
  margin: 20px 50px 0 0;
  list-style: none;
  float: right;
}
#head-menu li:hover{
  border-bottom: 1px solid white;
}
#head-menu li a{
text-decoration: none;
color: lightgray;
font-size: 1.1rem;
}
#intro-text-box{
  width: 75%;
  margin: 0 auto;
  padding: 150px 0 0 0;
  max-width: 1100px;
}
#intro-text-box h1{
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 4rem;
  color:white;
  font-weight: 300;
}
#intro-text-box p{
  margin: 0 0 30px 0;
  padding: 0;
  font-size: 1rem;
  color: lightgray;
}
.intro-button{
  display: inline-block;
  width: 150px;
  height: 40px;
  float: left;
  margin-right: 20px;
  border-radius: 10px;
  border: 1px solid lightgray;
  background-color: rgba(220,220,220,0);
  text-align: center;
  transition: background-color 0.1s;
}
.intro-button:hover{
  background-color: rgba(220,220,220,0.5);
}
.intro-button a{
  display: block;
  text-decoration: none;
  line-height: 2;
  text-align: center;
  color: lightgray;
  font-size: 1.2rem;
}
.wrapper{
  margin: 0 auto;
  max-width: 1000px;
}
#about{
  height: auto;
}
#about-me h2{
  text-align: center;
  font-weight: 300;
  font-size: 2rem;
  margin-top: 50px;
}
#about-me hr{
  margin: 15px auto;
  width: 10%;
  height: 2px;
  background-color: gray;
  border:none;
}
#introducing{
  margin: 0 auto;
  width: 60%;
  text-align: center;
}
#introducing p{
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 100;
  color: gray;
}
#boxes{
  margin: 0 auto;
}
.box{
  border: 1px solid gray;
  border-radius: 10px;
  margin-top: 40px;
  margin-right: 30px;
  margin-bottom: 150px;
  width: 300px;
  height: 250px;
  float: left;
}
.box h3{
  margin-top: 20px;
  text-align: center;
  font-weight: normal;
  font-size: 1.2rem;
}
.box img{
  position: relative;
  top: 20px;
  left: 75px;
}
#skills{

  clear: both;
  margin: 0 auto;
  width:80%;
  height: 200px;
  max-width: 1000px;
}
#my-skills{
  width: 980px;
  height: 300px;
  margin: 50px auto;

}
#myImg{
  float: left;
}
#skills-container{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width:680px;
  height:300px;
  float: left;
}
#part1{
  box-sizing: border-box;
  height: 120px;
  width:680;
  background-color:#e0e2e4;
}
#part1 p{
  font-size: 3rem;
  font-weight: lighter;
  margin-left: 40px;
  line-height: 2;
}
#part2{
  box-sizing: border-box;
  height: 180px;
  width:680;
}
#part2{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.skill-sections{
  width: 300px;
}
.skill-sections:hover{
  opacity: 0.9; 
}
#skill{
  background-color: #c6bcb6;
}
#education{
  background-color: #96897f;
}
#contact{
  background-color: #625750;
}
.skill-content{
  font-size: 1.5rem;
  text-align: center;
  margin-top:20px;
}
#puzzle, #cap, #contact-book{
  margin: 25px 0 0 80px;
}
#contact-book, #contact{
  color:white;
}
